body {
    text-align: center;
}

.modal-background {
	position: absolute;
	top: 20%;
	left: 50%;
	height: 200px;
	width: 300px;
	background-color: rgb(255, 255, 255, 0.9);
	border: solid 1px #333;
	transform: translate(-50%, -50%);
	padding-top: 50px;

}

.modal-button {


}

.hide {
	display: none;
}



/*
 * Container holding players to choose from
 */

#players-container {
	height: 171px;
	width: 505px;
	background-color: #eee;
	margin: 0 auto;
	border-radius: 5px;
	padding: 5px, 5px. 10px, 5px;
}

/* Each image in players-container is given this class */
.players-to-choose {
	width: 80px;
	margin: 10px;
}

/* Hover effect for each player */
.transform-player {
	transform: rotate(0deg) scale(1.2, 1.3) skew(-180deg, -180deg) translate( 0, 0);
}

/*
 * Box for buttons - reply, pause, speed.
 */