body {
    text-align: center;
}

.modal-background {
	position: absolute;
	top: 20%;
	left: 50%;
	height: 200px;
	width: 300px;
	background-color: rgb(255, 255, 255, 0.9);
	border: solid 1px #333;
	transform: translate(-50%, -50%);
	padding-top: 50px;

}

.modal-button {


}

.hide {
	display: none;
}


#winBox {
	width: 200px;
	height: 200px;
	background-color: #333;
}

.celebrate {
	border-radius: 25px;
}